In [2]:
import pandas as pd

c:\Users\desai\miniforge3\envs\crp4680\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
#template to clean a file

#clean prevalence

#get names from .sql
column_names = ["id", 
              "p_estimate", 
              "p_estimate_moe", 
              "n_estimate", 
              "n_estimate_moe", 
              "base_population", 
              "sample_size", 
              "state",
              "gender",
              "disability_type",
              "age",
              "race",
              "education",
              "hispanic",
              "statistics"]

df = pd.read_csv("raw/acs_prevalence_only.csv", header=None, names=column_names)

#the last column is usually just the statistics indicator (all the same for a file), so we drop it
df = df.drop(columns=["statistics"])

#to new csv
df.to_csv("static/acs_prevalence.csv", index=False)

In [39]:
#clean prevalence2
df = pd.read_csv("raw/acs_prevalence_v2_header.csv")

df = df[df['Inst_population']==0]
df.drop(columns=["disability_status", 'd_vet_rate', 'Inst_population', 'health_insurance', 'statistic'], inplace=True)
df.rename(columns={'cname': 'state'}, inplace=True)

df.to_csv("static/acs_prevalence2.csv", index=False)

In [23]:
#clean employment

#get names from .sql
column_names = ["id", 
              "p_estimate", 
              "p_estimate_moe", 
              "n_estimate", 
              "n_estimate_moe", 
              "base_population", 
              "sample_size", 
              "state",
              "gender",
              "disability_status",
              "disability_type",
              "age",
              "race",
              "education",
              "hispanic",
              "statistics"]

df = pd.read_csv("raw/acs_employment_rate_only.csv", header=None, names=column_names)

#the last column is usually just the statistics indicator (all the same for a file), so we drop it
df = df.drop(columns=["statistics"])

#to new csv
df.to_csv("static/acs_employment_rate.csv", index=False)

In [37]:
#clean employment 2
df = pd.read_csv("raw/acs_employment_rate_v2_header.csv")

df = df.drop(columns=["d_vet_rate", "Inst_population", "health_insurance", "statistic"])
#df["disability_status"].unique()
df.rename(columns={'cname': 'state'}, inplace=True)

df.to_csv("static/acs_employment_rate2.csv", index=False)

In [24]:
#clean poverty

#get names from .sql
column_names = ["id", 
              "p_estimate", 
              "p_estimate_moe", 
              "n_estimate", 
              "n_estimate_moe", 
              "base_population", 
              "sample_size", 
              "state",
              "disability_status",
              "disability_type",
              "statistics"]

df = pd.read_csv("raw/acs_poverty.csv", header=None, names=column_names)

#the last column is usually just the statistics indicator (all the same for a file), so we drop it
df = df.drop(columns=["statistics"])

#to new csv
df.to_csv("static/acs_poverty.csv", index=False)

In [42]:
#clean poverty

df = pd.read_csv("raw/acs_poverty_v2_header.csv")

df.drop(columns=["d_vet_rate", "Inst_population", "health_insurance", "statistic"], inplace=True)
df.rename(columns={'cname': 'state'}, inplace=True)

df.to_csv("static/acs_poverty2.csv", index=False)

In [41]:
df.describe()

,id,p_estimate,p_estimate_moe,n_estimate,n_estimate_moe,base_population,sample_size,gender,disability_type,disability_status,age,race,education,hispanic,d_vet_rate,Inst_population,health_insurance,statistic
count,1.113000e+03,1113.000000,1113.000000,1.113000e+03,1113.000000,1.113000e+03,1.113000e+03,1113.0,1113.000000,1113.000000,1113.0,1113.0,1113.0,1113.0,1113.0,1113.0,1113.0,1113.0
mean,6.321405e+07,16.878437,2.354007,5.375934e+05,15107.789757,4.728686e+06,4.481034e+04,0.0,4.000000,1.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
std,5.034998e+03,9.595726,3.096726,2.239444e+06,17037.685989,2.047393e+07,1.938527e+05,0.0,2.000899,0.816864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,6.320548e+07,4.500000,0.070000,8.000000e+02,880.000000,4.000000e+03,3.900000e+01,0.0,1.000000,0.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
25%,6.320976e+07,9.900000,0.510000,3.930000e+04,6030.000000,1.949000e+05,1.974000e+03,0.0,2.000000,0.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
50%,6.321405e+07,11.700000,1.000000,1.454000e+05,11600.000000,1.041100e+06,9.765000e+03,0.0,4.000000,1.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
75%,6.321833e+07,24.200000,3.210000,3.870000e+05,18860.000000,3.389600e+06,3.281700e+04,0.0,6.000000,2.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
max,6.322261e+07,62.300000,20.900000,2.103270e+07,138050.000000,1.870601e+08,1.773727e+06,0.0,7.000000,2.000000,2.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0

In [34]:
test = df[(df["gender"]==0) & (df["age"]==0) & (df["race"]==0) & (df["education"]==0) & (df["hispanic"]==0) & (df["disability_type"]==1)]
test.shape

(53, 19)

In [8]:
df[df["state"] == "Alabama"]

,id,p_estimate,p_estimate_moe,n_estimate,n_estimate_moe,base_population,sample_size,state,gender,disability_type,age,race,education,hispanic
1,60068482,0.0,3.29,0,400,400,9,Alabama,0,2,7,1,0,1
54,60063850,7.0,0.34,212300,10340,3030800,29343,Alabama,0,4,3,0,0,2
107,60063862,2.7,0.26,54100,5300,2014800,20971,Alabama,0,2,3,1,0,2
160,60068470,15.5,10.89,900,690,5800,68,Alabama,0,4,7,0,0,1
213,60095026,0.0,3.29,0,400,100,1,Alabama,2,2,8,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003136,60067056,-9.0,-9.00,-9,-9,-9,-9,Alabama,0,4,6,1,3,0
2003189,60067068,-9.0,-9.00,-9,-9,-9,-9,Alabama,0,2,6,2,3,0
2003242,60062424,2.3,2.01,700,590,28900,264,Alabama,0,6,2,0,3,1
2003295,60062436,5.6,6.82,300,400,5900,60,Alabama,0,4,2,1,3,1
2003348,60062448,18.2,25.91,200,400,1200,10,Alabama,0,2,2,2,3,1

In [15]:
# processing for state-name-codes using file from info3300
df_states = pd.read_csv("static/state-survey-responses-fa23.csv").drop(columns=["state_short", "total"])
df_states.to_csv("static/state-name-codes.csv")